<app-navbar></app-navbar>


<app-header />

<app-current-time />

<div class="button-container">
  <button (click)="clickedAlarm()" class="center-button">Set Alarm</button>
</div>


<div class="button-container">
  <button  (click)="clickedWhiteNoise()" class="center-button">Set White Noise</button>
</div>

@if (isClickedAlarm){
  <app-alarm-form (shouldGetOut)="leaveComponent($event)" />
}

@if (isClickedWhiteNoise){
  <app-white-noise-form (shouldGetOut)="leaveComponent($event)" />
}

<app-alarm /> 

